<section ng-init="home.scrollTo()" id="aboutSection">
    <figure class="myContainer">
      <div class="myPicContainer">
      <img class="myPic" src="images/me2.png" alt="my Picture">
      <img class="myLogo" src="images/logo2.png" alt="my Logo">
    </div>
        <figcaption class='cap2'><p>As a front-end web developer, I am driven to create a clean and efficient user experience for every project I am involved in. My years of experience as a chef and  small business manager have instilled in me the flexibility and understanding of customer service that any front-end developer will need.</p><br>
          <div class="myLinks">
            <a class="" target="_blank" ng-href="{{home.github}}" ng-mousedown="home.openTab()"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="resume" target="_blank" ng-href="{{home.resume}}" ng-mousedown="home.openTab()">Resume</a>
          </div>
       </figcaption>
    </figure>
    <figure class="ironContainer">
      <figcaption class='cap3'><h1>Dedicated. Focused.</h1><br><p>In September of 2016 I dropped everything to take the immersive Front-End Engineering course at The Iron Yard in Durham, NC. I graduated with a solid foundation of knowledge in many of today's most sought-after tools and frameworks, and the understanding that learning to code is a task that is never fully completed. There is always something new to learn.</p><br>
     </figcaption>
      <div class="ironPicContainer">
      <img class="ironPic" src="images/ironLogo.png" alt="Iron Yard Picture">
    </div>
    </figure>
    <div id="stackLogo">
    <aside id="stackContainer">
      <h3 class="stackInstructions">Hover / Tap for Proficiency</h3>
      <section class="cap1">
        <div class="sectionOverlay"><i class="fa fa-code" aria-hidden="true"></i></div>
          <h1>Languages:</h1><br>
        <ul>
          <li><p class="rating">beginner&nbsp | &nbspadvanced</p></li>
          <li ng-click="donothing()" class="expert"><p>Javascript</p></li>
          <li ng-click="donothing()" class="expert"><p>JQuery</p></li>
          <li ng-click="donothing()" class="expert"><p>HTML5</p></li>
          <li ng-click="donothing()" class="medium"><p>CSS3/Sass</p></li>
          <li ng-click="donothing()" class="novice"><p>HAML</p></li>
        </ul>
      </section>
        <section class="cap1">
          <div class="sectionOverlay"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <h1>Frameworks:</h1><br>
          <ul>
            <li><p class="rating">beginner&nbsp | &nbspadvanced</p></li>
            <li ng-click="donothing()" class="expert"><p>AngularJS</p></li>
            <li  ng-click="donothing()" class="medium"><p>EmberJS</p></li>
          </ul>
        </section>
        <section class="cap1">
          <div class="sectionOverlay"><i class="fa fa-wrench" aria-hidden="true"></i></div>
          <h1>Tools:</h1></br>
          <ul>
            <li><p class="rating">beginner&nbsp | &nbspadvanced</p></li>
            <li ng-click="donothing()" class="expert"><p>GitHub/Git</p></li>
            <li ng-click="donothing()" class="medium"><p>Command-line</p></li>
            <li ng-click="donothing()" class="expert"><p>Atom</p></li>
            <li ng-click="donothing()" class="novice"><p>Handlebars</p></li>
            <li ng-click="donothing()" class="medium"><p>Firebase</p></li>
            <li ng-click="donothing()" class="medium"><p>Grunt</p></li>
            <li ng-click="donothing()" class="medium"><p>Bootstrap</p></li>
        </section>
        <section class="cap1">
          <div class="sectionOverlay"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
          <h1>Skills:</h1></br>
          <ul>
            <li><p class="rating">beginner&nbsp | &nbspadvanced</p></li>
            <li ng-click="donothing()" class="expert"><p>Single Page App Production</p></li>
            <li ng-click="donothing()" class="expert"><p>Responsive Design</p></li>
            <li ng-click="donothing()" class="medium"><p>Wordpress</p></li>
            <li ng-click="donothing()" class="novice"><p>Agile</p></li>
            <li ng-click="donothing()" class="medium"><p>Freelance Development</p></li>
        </section>
    </aside>
  </div>
</section ng-init="home.scrollTo()">
