
<header id="mainHead">
    <section>
        <ul class="tabList">
            <li id="about" ui-sref="home.about"  ng-click="moveLi('0')" ui-sref-active="active">About</li>
            <li id="projects" ui-sref="home.projects" ng-click="moveLi('25')" ui-sref-active="active">Work</li>
            <li id="play" ui-sref="home.spiel" ng-click="moveLi('50')" ui-sref-active="active">Play</li>
            <li id="contact" ui-sref="home.contact" ng-click="moveLi('75')" ui-sref-active="active">Contact</li>
            <li id="moveMe"></li>
        </ul>
    </section>
</header>
<div id="pageContainer">

  <ui-view></ui-view>
</div>
