
<header id="mainHead">
    <section>
        <ul class="tabList">
            <li class="about" ui-sref="home.about"  ui-sref-active="active" ng-click="moveLi('0')">About</li>
            <li class="projects" ui-sref="home.projects" ui-sref-active="active" ng-click="moveLi('25')">Work</li>
            <li class="play" ui-sref="home.spiel" ui-sref-active="active" ng-click="moveLi('50')" >Play</li>
            <li class="contact" ui-sref="home.contact" ui-sref-active="active" ng-click="moveLi('75')">Contact</li>
            <li id="moveMe"></li>
        </ul>
    </section>
</header>
<div id="pageContainer">

  <ui-view></ui-view>
</div>
